<button (click)="goToCreateEmployee()">Cadastrar Funcionário</button>

<h2>Funcionários</h2>
<input id="employee-name" [(ngModel)]="employeeNameForSearch" placeholder="Nome do Funcionário">
<button (click)="employeeSearch()">Pesquisar</button><br /><br />
<ul class="employees">
  <li *ngFor="let employee of employees"
    (click)="goToCreateEmployeeById(employee.id)">
    <span class="badge">{{employee.position?.name}}</span> {{employee.name}}
  </li>
</ul>
<h5>Página: {{pageNumberPagination}}</h5>
<button *ngIf="showButtonPrevious()" (click)="previous()">Anterior</button><button *ngIf="showButtonNext()" (click)="next()">Próxima</button>
