<form [formGroup]="form" validate>
    <input type="text" formControlName="username" placeholder="Usuário"><br /><br />
    <input type="password" formControlName="password" placeholder="Senha"><br /><br />
    <select id="select-companies" formControlName="company">
        <option *ngFor="let company of companies" value= {{company.id}}>
            {{company.name}}
        </option>
    </select><br /><br />
</form>

<button (click)="login()">Entrar</button>
<button (click)="registerUser()">Criar usuário</button>