<h2>Cadastro de Empresa</h2>

<form [formGroup]="form" validate>
    <div>
        <input id="company-name" formControlName="name" placeholder="Nome"><br />
        <input id="company-street" formControlName="street" placeholder="Rua"><br />
        <input id="company-number" formControlName="number" placeholder="Número"><br />
        <input id="company-address2" formControlName="address2" placeholder="Complemento"><br />
        <input id="company-neighborhood" formControlName="neighborhood" placeholder="Bairro"><br />
        <input id="company-city" formControlName="city" placeholder="Cidade"><br />
        <input id="company-state" formControlName="state" placeholder="Estado"><br />
        <input id="company-country" formControlName="country" placeholder="País"><br />
        <input id="company-zip-code" formControlName="zipCode" placeholder="CEP"><br />
        <input id="company-phone-number" formControlName="phoneNumber" placeholder="Telefone"><br />
    </div>
</form>

<button (click)="save()">Salvar</button>

<div *ngIf="!isCreation">
    <button (click)="deleteCompany()">Apagar</button>
</div>